@model List<Product_catagories.EF.Product>

@{
    ViewBag.Title = "ProductBuy";
}

<h2>ProductBuy</h2>
<a class="btn btn-success" href="/Home/OrderList">View Orders</a>
<br />
<form method="post">
    <table border="1" class="table">
        <tr>
            <td>Name</td>
            <td>Category</td>
            <td>Price</td>
        </tr>
        @foreach (var product in Model)
        {
            <tr border="1">
                <td border="1">@product.Name</td>
                @foreach (var c in ViewBag.Catagory)
                {
                    if (c.Id == product.C_Id)
                    {
                        <td>
                            @c.Name
                        </td>
                    }
                }
                <td>@product.Price</td>
                @if (product.Quantity > 0)
                {
                    <td>
                        <input type="checkbox" name="selectedProducts" value="@product.Id" @(IsProductSelected(product.Id) ? "checked" : "") /> Order
                    </td>
                }
                else
                {
                    <td>
                        Sold Out
                    </td>
                }


            </tr>
        }
    </table>
    <input type="submit" value="Add to Cart" />
</form>

@functions {
    public bool IsProductSelected(int productId)
    {
        string[] selectedProductIds = Session["SelectedProductIds"] as string[];

        return selectedProductIds != null && selectedProductIds.Contains(productId.ToString());
    }
}
